// заголовки секций

.selection-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: $title-text-color;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
