.occupation-section {
  padding-bottom: 94px;
  padding-bottom: 47px;
}

.work-examples {
  display: flex;

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;

    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $secondary-color;
  }
}

.work-item {
  position: relative;

  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.work-example__background-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
