.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-color;

  &-container {
    display: flex;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  &-form {
    display: flex;
  }

  &__date-container {
    display: flex;
  }
}

// logo footer

.logo--footer {
  display: block;
}

.logo--light-theme {
  color: $secondary-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover {
    color: $acsent-color;
  }
}

.address-container {
  display: flex;
  flex-direction: column;
}

.location {
  margin-top: 20px;

  color: $secondary-color;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contacts {
  margin-top: 9px;

  color: $footer-contacts-color;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-sosial {
  width: 270px;
  margin-left: 69px;

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    text-transform: uppercase;

    color: $secondary-color;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-form-text {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: $secondary-color;
}

.footer-sosial__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $footer-icon;
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover {
    background-color: $acsent-color;
  }
}

.footer-sosial__icon {
  fill: $secondary-color;
}

// mailing block

.footer-input {
  display: inline-block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: $secondary-color;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  margin-left: 10px;
}
