.team {
  display: flex;
  flex-wrap: wrap;

  &-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $button-background;
  }

  &-item {
    width: calc((100% - 3 * 30px) / 4);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &-item:not(:last-child) {
    margin-right: 30px;
  }
}

.box-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;

  background: $secondary-color;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.position {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.sosial-list,
.clients-section-list {
  display: flex;
  justify-content: space-between;
}

// out team icons

.sosial-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $secondary-color;
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover {
    background-color: $acsent-color;
    fill: $secondary-color;
  }

  &:hover .sosial-list__icon {
    fill: $secondary-color;
  }
}

.sosial-list__icon {
  fill: $icon-color;
}
