.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-color;
}

.team-section {
  background-color: $button-background;
}

.occupation-section {
  display: none;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 128px;

  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-color: $background-color;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background-image-hero.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .hero-section {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 128px;
  }
}

// ====================== TABLET VERSION ==============================

@media screen and (min-width: 768px) {
  .hero-section {
    padding-left: 204px;
    padding-right: 204px;
  }
}

// ====================== DESCKTOP VERSION ============================
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .occupation-section {
    display: block;
  }

  .hero-section {
    height: 600px;
    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    padding-bottom: 200px;
  }
}
