// Тип блочной модели элементов
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// сбрасываем отступы строчных img
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  background-color: $secondary-color;
  color: $primery-text-color;
  font-family: Roboto, sans-serif;

  padding-top: $height-header-page;
}
