.page-header {
  position: relative;
  width: 100%;
  letter-spacing: 0.02em;
  background-color: $secondary-color;
  outline: 1px solid teal;

  &.header-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-color-secondary;
  }
}

.nav-flex__mob {
  display: flex;
  align-items: center;
}

.page-header__menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.page-header__menu-button .menu-button__icon-cross {
  display: none;
}

.page-header__menu-button.is-open .menu-button__icon-cross {
  display: block;
}

.page-header__menu-button.is-open .menu-button__icon-menu {
  display: none;
}

.page-header__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: violet;
  display: none;

  &.is-open {
    display: block;
  }
}
