$primery-text-color: #757575;
$title-text-color: #212121;
$secondary-color: #ffffff;
$acsent-color: #2196f3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$background-color: #2f303a;
$button-background: #f5f4fa;
$border-color: #eeeeee;
$border-color-secondary: #ececec;
$icon-color: #afb1b8;
$footer-icon: rgba(255, 255, 255, 0.1);

$height-header-page: 80px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
